beautifulsoup4==4.12.3
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.16.0
identify==2.6.1
idna==3.10
iniconfig==2.0.0
nodeenv==1.9.1
packaging==24.1
platformdirs==4.3.3
pluggy==1.5.0
pre-commit==3.8.0
pytest==8.3.3
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.6
tomli==2.0.1
urllib3==2.2.3
virtualenv==20.26.4
